body{
    background-color: rgb(218, 216, 216);
}

table{
    position: absolute;
    margin-left: 50px;
    border-radius: 10px;
    font-size: 18px;
}

tr,td{
    border-radius: 5px;
}

.link{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.links{
    margin-top: 310px;
    position: absolute;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}